<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}LC101 Advent of Code{% endblock %}</title>
  <meta name="description" content="LC101 Advent of Code">
  <meta name="author" content="Brian Schiller">

  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div id="flashes">
      {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}
  {% block content %}
  {% endblock content %}

</body>
</html>
