{% extends 'base.html' %}
{% block content %}
  <h1>Advent of Code, Day 1: {{ title }}</h1>
  <hr/>

  {% if is_solved %}
  <div class="solved-link">
    <h3><a href="{{ url_for('submissions_view', day=day) }}">View or post solutions</a><h3>
  </div>
  {% endif %}

  {% block puzzle_text %}{% endblock puzzle_text %}

  {% block submit_answer %}
    {% from "_formhelpers.html" import render_field %}
    <form method="post" id="submit-answer">
      <dl>
        {{ render_field(form.answer) }}
        {{ form .hidden_tag() }}
      </dl>
      <input type="submit" value="Submit">
    </form>
  {% endblock submit_answer %}
{% endblock content %}
