{% extends 'base.html' %}
{% block content %}
<h1>Advent of Code Challenges</h1>
<hr>
<ol>
  {% for challenge in challenges %}
    <li>
      {% if advent_day_reached(challenge.day) %}
        <a href="{{ url_for('challenges_view', day=challenge.day) }}">
          {{ challenge.title }}
        </a>
      {% else %}
        {{ challenge.title }} <emph>(available on Dec {{ challenge.day }})</emph>
      {% endif %}
      {% if user_has_solved(challenge.day) %}
      <a href="{{ url_for('submissions_view', day=challenge.day) }}">
        (view solutions)
      </a>
      {% endif %}
    </li>
  {% endfor %}
</ol>
{% endblock content %}
