{% extends 'base.html' %}
{% block content %}
<h1>Sorry, it's not time for that puzzle yet</h1>

<p>If you're champing at the bit for more problems, check out these ones</p>

<ul>
  <li>
    <a href="http://adventofcode.com/">adventofcode.com</a>
    (yes, that's where I got the idea for this one)
  </li>
  <li>
    <a href="https://www.hackerrank.com">hackerrank.com</a>
  </li>
  <li>
    <a href="http://www.pythonchallenge.com/">pythonchallenge.com</a>
    This one is kind of like an escape-the-room puzzle
  </li>
  <li>
    <a href="http://rosalind.info/">rosalind.info</a>
    These puzzles are mainly about bioinformatics, which sounds scary, but it's mostly a lot of a string processing
  </li> 
</ul>

{% endblock %}
