{% extends 'challenge_base.html' %}
{% block puzzle_text %}
<p>
  The weather forecast is often wrong. Sometimes embarrassingly so. I always laugh when I look at the weather on my phone and it says "High of 54&deg;, Low of 35&deg;, currently 28&deg;". Like, couldn't they update the Low-temp to be at least as low as the <emph>current</emph> temp?
</p>
<p>
  Well, one station has decided to do something about it. Not something as hard as fixing their algorithm, oh no no no. They're going to change their recorded forecast to make it look like they were right <emph>after the fact</emph>.
</p>
<p>
  
</p>
{% endblock puzzle_text %}
